body {
    padding: 0;
    margin: 0;
}

.nav-bar {
    padding: 3px;
    width: 100%;
    background-color: rgb(227, 228, 229);
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.menu-icon {
    padding-left: 120px;
    cursor: pointer;

}

.search-icon {
    padding-right: 120px;
    cursor: pointer;
}

ul li {
    list-style-type: none;
    display: inline;
}

.nav-heading {
    padding-right: 40px;
    font-size: smaller;
    font-weight: 700;
    font-family: "Unna", serif;
    cursor: pointer;
    transition: color 0.3s ease;
}
.nav-heading:hover{
    /* background-color: #ec7e09; */
    color: #ec7e09;
    text-decoration:underline ;
    cursor: pointer;
}

.heading {
    padding-top: 50px;
    padding-left: 130px;
    padding-right: 130px;
    display: flex;
    justify-content: space-between;
}

.sub-btn {
    height: 35px;
    width: 120px;
    border: 1px solid #f4952f;
    background-color: white;
    /* font-weight: 700; */
    font-family: "Nunito Sans", sans-serif;
    cursor: pointer;
}

.media-icon {
    padding: 6px;
    cursor: pointer;
}

.imgsec-1 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr; 
    gap: 10px;
    padding-top: 60px;
}

.box {
    width: 100%;
    /* height: 100%; */
    overflow: hidden;
}

.box img {
    width: 100%;
    height: 100%;
}

.img1 {
    grid-row: span 2;
}

.img3 {
    grid-row: span 2;
}

.date-box{
    /* border: 2px solid black; */
    background-color: rgba(54, 52, 52, 0.406);
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.box1{
    height: 80px;
    width: 100px;
    font-size: x-large;
    padding-top: 20px;
    position:absolute;
    top: 480px;
    left: 40px;
}
.box2{
    height: 50px;
    width: 70px;
    font-size: large;
    padding-top: 7px;
    position: absolute;
    top: 300px;
    left: 650px;
}
.box3{
    height: 50px;
    width: 70px;
    font-size: large;
    padding-top: 7px;
    position: absolute;
    top: 540px;
    left: 650px;
}
.box4{
    height: 50px;
    width: 70px;
    font-size: large;
    padding-top: 7px;
    position: absolute;
    top: 530px;
    left: 970px;
}
.img-des1{
    color:#f4952f ;
    font-size: small;
    padding-top: 20px;
    position:absolute;
    top: 465px;
    left: 160px;
}
.img-des2{
    color:#f4952f ;
    font-size: small;
    padding-top: 20px;
    position:absolute;
    top: 285px;
    left: 730px
}
.img-des3{
    color:#f4952f ;
    font-size: small;
    padding-top: 20px;
    position:absolute;
    top: 525px;
    left: 730px;
}
.img-des4{
    color:#f4952f ;
    font-size: small;
    padding-top: 20px;
    position:absolute;
    top: 515px;
    left: 1050px;
}
.img-des5{
    color:#f4f4f3 ;
    font-size: 22px;
    font-family: "Unna", serif;
    padding-top: 20px;
    position:absolute;
    top: 495px;
    left: 160px;
}
.img-des6{
    color:#f4f4f3 ;
    font-size: 18px;
    font-family: "Unna", serif;
    padding-top: 20px;
    position:absolute;
    top: 310px;
    left: 730px
}
.img-des7{
    color:#f4f4f3 ;
    font-size: 18px;
    font-family: "Unna", serif;
    padding-top: 20px;
    position:absolute;
     top: 550px;
    left: 730px;
}
.img-des8{
    color:#f4f4f3 ;
    font-size: 18px;
    font-family: "Unna", serif;
    padding-top: 20px;
    position:absolute;
    top: 540px;
    left: 1050px;
}
.img-sec2{
    display: flex;
    padding-top: 90px;
    padding-left: 50px;
    gap: 30px;
}
.img-sec2:hover .popover{
    visibility: visible;
    opacity: 2;
}    
.popover{
    visibility: hidden;
    opacity: 0;
    font-family: serif;
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
    transition : opacity 0.3s visiblity 0.3s
}
.pop1{
     position: absolute;
     top: 840px;
    left: 130px;
}
.pop2{
     position: absolute;
     top: 840px;
    left: 435px;
}
.pop3{
     position: absolute;
     top: 840px;
    left: 730px;
}
.pop4{
     position: absolute;
     top: 840px;
    left: 1030px;
}
.img-sec3{
    padding-top: 70px;
    padding-left: 50px;
    display: flex;
}
.img6{
    padding-left: 30px;
    padding-top: 50px;
}
.abt-des{
   position: absolute;
   left: 880px;
   bottom: -590px;
}
.box5{
    height: 60px;
    width: 80px;
    font-size: large;
    padding-top: 7px;
    position: absolute;
    top: 1110px;
    left: 70px;
    background-color: white;
    color: black;
}
.abt-des1{
    font-size: 14;
    padding-top: 7px;
    position: absolute;
    top: 1340px;
    left: 883px;
    line-height: 25px;
}
.rd-btn{
    height: 35px;
    width: 120px;
    border: 1px solid #f4952f;
    background-color: white;
    font-family: "Nunito Sans", sans-serif;
    position: absolute;
    top: 1490px;
    left: 880px;
    cursor: pointer;
}
.follow-des{
    font-size: 14px;
    position: absolute;
    top: 1610px;
    left: 880px;
}
.content-1{
    font-size: 13px;
    color: #ec7e09;
    word-spacing: 5px;
    position: absolute;
    top: 1660px;
    left: 400px;
}
.heading-1{
    font-size: 22px;
    word-spacing: 7px;
    position: absolute;
    top: 1680px;
    left: 120px;
}
.heading-2{
    font-size: 22px;
    word-spacing: 7px;
    position: absolute;
    top: 1710px;
    left: 380px;
}
.media-icon2{
    position: absolute;
    top: 1675px;
    left: 875px;
}
.media-btn:hover{
    background-color: #ec7e09;
    color: #f4f4f3;
    display: inline-block;
    cursor: pointer;
}
.media-btn{
    height: 50px;
    width: 50px;
    border-radius: 100px;
    border: none;    
}
.content-2{
    font-size: 14px;
    color: rgb(94, 94, 94);
    word-spacing: 5px;
    position: absolute;
    top: 1780px;
    left: 335px;
}
.content-3{
    font-size: 16px;
    color: rgb(78, 77, 77);
    word-spacing: 5px;
    line-height: 25px;
    position: absolute;
    top: 1800px;
    left: 80px;
    text-align: center;
}
.rd-btn2{
    height: 35px;
    width: 120px;
    border: 1px solid #f4952f;
    background-color: white;
    font-family: "Nunito Sans", sans-serif;
    position: absolute;
    top: 1940px;
    left: 400px;
    cursor: pointer;
}
.fea-des{
    font-size: 14px;
    position: absolute;
    top: 1770px;
    left: 880px;
}
.img-cont1{
    position: absolute;
    top: 1830px;
    left: 880px;
}
.content-4{
    color: #f4f4f3;
    line-height: 25px;
    font-size: 18px;
    font-weight: 180px;
    position: absolute;
    top: 1940px;
    left: 900px;
}
.content-5{
    color: #f0912c;
    font-size: 14px;
    font-family: monospace;
}
.content-6{
    font-size: 15px;
    color: #323232;
    font-weight: 180px;
    position: absolute;
    top: 1980px;
    left: 350px;
    word-spacing: 10px;
    cursor: pointer;
}
.sec3-img1{
    position: absolute;
    top: 2080px;
    left: 60px;
}
.sec3-img2{
    position: absolute;
    top: 2080px;
    left: 470px;
}
.box6{
    height: 60px;
    width: 80px;
    font-size: large;
    padding-top: 7px;
    position: absolute;
    top: 2100px;
    left: 80px;
    background-color: white;
    color: black;
}
.box7{
    height: 60px;
    width: 80px;
    font-size: large;
    padding-top: 7px;
    position: absolute;
    top: 2100px;
    left: 490px;
    background-color: white;
    color: black;
}
.box8{
    height: 60px;
    width: 70px;
    font-size: large;
    padding-top: 7px;
    position: absolute;
    top: 2090px;
    left: 880px;
    background-color: rgba(228, 227, 227, 0.632);
    color: black;
}
.box9{
    height: 60px;
    width: 70px;
    font-size: large;
    padding-top: 7px;
    position: absolute;
    top: 2190px;
    left: 880px;
    background-color: rgba(228, 227, 227, 0.632);
    color: black;
}
.box10{
    height: 60px;
    width: 70px;
    font-size: large;
    padding-top: 7px;
    position: absolute;
    top: 2290px;
    left: 880px;
    background-color: rgba(228, 227, 227, 0.632);
    color: black;
}
.box11{
    height: 60px;
    width: 70px;
    font-size: large;
    padding-top: 7px;
    position: absolute;
    top: 2390px;
    left: 880px;
    background-color: rgba(228, 227, 227, 0.632);
    color: black;
}
.content-7{
    color: #0c0c0c;
    line-height: 25px;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top: 2070px;
    left: 970px;
    cursor: pointer;
}
.content-8{
    color: #0c0c0c;
    line-height: 25px;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top: 2170px;
    left: 970px;
    cursor: pointer;
}
.content-9{
    color: #0c0c0c;
    line-height: 25px;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top: 2270px;
    left: 970px;
    cursor: pointer;
}
.content-10{
    color: #0c0c0c;
    line-height: 25px;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top: 2370px;
    left: 970px;
    cursor: pointer;
}
.content-11{
    position: absolute;
    left: 130px;
    color: #f0912c;
    font-size: 14px;
    font-family: monospace;
}
.content-12{
    color: #0c0c0c;
    line-height: 25px;
    letter-spacing: 1px;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    position: absolute;
    /* text-decoration:underline ; */
    top: 2340px;
    left: 90px;
    cursor: pointer;
}
.content-13{
    font-size: 14px;
    color: rgb(94, 94, 94);
    word-spacing: 5px;
    position: absolute;
    top: 2450px;
    left: 120px;
}
.content-14{
    font-size: 15px;
    color: rgb(94, 94, 94);
    word-spacing: 5px;
    line-height: 25px;
    text-align: center;
    position: absolute;
    top: 2470px;
    left: 55px;
}
.content-15{
    position: absolute;
    left: 130px;
    color: #f0912c;
    font-size: 14px;
    font-family: monospace;
}
.content-16{
    color: #0c0c0c;
    line-height: 25px;
    letter-spacing: 1px;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    position: absolute;
    top: 2470px;
    left: 500px;
    cursor: pointer;
}
.content-17{
    font-size: 14px;
    color: rgb(94, 94, 94);
    word-spacing: 5px;
    position: absolute;
     top: 2580px;
    left: 535px;
}
.content-18{
    font-size: 15px;
    color: rgb(94, 94, 94);
    word-spacing: 5px;
    line-height: 25px;
    text-align: center;
    position: absolute;
     top: 2600px;
    left: 475px;
}
.sec4-img1{
    position: absolute;
    top: 2600px;
    left: 55px;
}
.box12{
    height: 60px;
    width: 70px;
    font-size: large;
    padding-top: 7px;
    position: absolute;
    top: 2620px;
    left: 75px;
    background-color: white;
    color: black;
}
.box-des{
    font-size: 16px;
    letter-spacing: 1px;
    background-color: #e1e1e0a0;
    line-height: 25px;
    text-align: justify;
    padding: 50px;
    position: absolute;
    top: 2720px;
    left: 475px;
}
.box-icon{
    position: absolute;
    top: 25px;
    left: 45px;
}
.box-sign{
    position: absolute;
    top: 155px;
    left: 255px;
    color: #ed901e;
}
.sec4-img2{
    position: absolute;
    top: 2550px;
    left: 890px;
}
.sec4-img3{
    position: absolute;
    top: 3020px;
    left: 475px;
}
.box13{
    height: 60px;
    width: 70px;
    font-size: large;
    padding-top: 7px;
    position: absolute;
     top: 3040px;
    left: 495px;
    background-color: white;
    color: black;
}

.content-22{
    position: absolute;
    left: 70px;
    color: #f0912c;
    font-size: 14px;
    font-family: monospace;
}
.content-19{
    color: #0c0c0c;
    line-height: 25px;
    letter-spacing: 1px;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    position: absolute;
    /* text-decoration:underline ; */
    top: 3115px;
    left: 93px;
    cursor: pointer;
}
.content-20{
    font-size: 14px;
    color: rgb(94, 94, 94);
    word-spacing: 5px;
    position: absolute;
    top: 3225px;
    left: 100px;
}
.content-21{
    font-size: 15px;
    color: rgb(94, 94, 94);
    word-spacing: 5px;
    line-height: 25px;
    text-align: center;
    position: absolute;
    top: 3245px;
    left: 35px;
}
.content-23{
    font-size: 14px;
    position: absolute;
    top: 3060px;
    left: 880px;
}
.menu-items{
    border-bottom: 1px solid #a19d9d6d;
    padding-bottom: 8px;
    transition: color 0.3s ease;
}
.side-mnbar{
    position: absolute;
    line-height: 35px;
    word-spacing: 240px;
    top: 3100px;
    left: 850px;
    color: #1b1a1a;
    font-size: 15px;
    font-weight: 600;  
}
.menu-items:hover{
    color: #ec7e09;
    cursor: pointer;
}
.sec5-img1{
    position: absolute;
    top: 3405px;
    left: 42px;
}
.box14{
    height: 60px;
    width: 75px;
    font-size: large;
    padding-top: 7px;
    position: absolute;
    top: 3575px;
    left: 192px;
    background-color: rgba(37, 37, 37, 0.482);
    color: rgb(254, 251, 251);
}
.content-24{
    position: absolute;
    top: 3655px;
    left: 163px;
    letter-spacing: 1px;
    color: #f0912c;
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content-25{
    position: absolute;
    top: 3680px;
    left: 93px;
    text-align: center;
    letter-spacing: 1px;
    color: white;
    font-size: 20px;
    font-family:"Unna", serif;
}
.content-26{
    font-size: 15px;
    color: #cbcbcb;
    font-weight: 180px;
    position: absolute;
    top: 3750px;
    left: 112px;
    word-spacing: 14px;
    cursor: pointer;
}
.content-28{
    font-size: 14px;
    color: rgb(234, 152, 38);
    word-spacing: 5px;
    position: absolute;
    top: 3425px;
    left: 650px;
    font-family: monospace;
}
.content-27{
    color: #0c0c0c;
    line-height: 25px;
    letter-spacing: 1px;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    position: absolute;
    /* text-decoration:underline ; */
    top: 3455px;
    left: 506px;
    word-spacing: 5px;
    cursor: pointer;
}
.content-29{
    font-size: 14px;
    color: rgb(94, 94, 94);
    word-spacing: 5px;
    position: absolute;
    top: 3535px;
    left: 546px;
}
.content-30{
    font-size: 15px;
    color: rgb(94, 94, 94);
    word-spacing: 5px;
    line-height: 25px;
    text-align: center;
    position: absolute;
    top: 3555px;
    left: 485px;
}
.content-31{
    font-size: 14px;
    position: absolute;
    top: 3480px;
    left: 910px;
}
.content-32{
    font-size: 16px;
    position: absolute;
    color: #3a3939c1;
    top: 3525px;
    left: 910px;
}
.email-form{
    position: absolute;
    top: 3605px;
    left: 910px;
    width: 280px;
    height: 5px;
    font-size: 14px;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.check-box{
    position: absolute;
    top: 3675px;
    left: 910px;
    letter-spacing: 1px;
    font-family: serif;
    color: #3a3939c1;
}
input[type="checkbox"] {
    accent-color: orange;
}
.sub-btn2{
    position: absolute;
    top: 3720px;
    left: 910px;
    height: 35px;
    width: 120px;
    padding: 9px;
    border: none;
    color: white;
    background-color:#f7952b;
    font-family: "Nunito Sans", sans-serif;
    cursor: pointer;
}
.sec6-img1{
    font-size: 15px;
    color: rgb(94, 94, 94);
    word-spacing: 5px;
    line-height: 25px;
    text-align: center;
    position: absolute;
    top: 3700px;
    left: 485px;
}
.box15{
    height: 60px;
    width: 75px;
    font-size: large;
    padding-top: 7px;
    position: absolute;
    top: 3720px;
    left: 505px;
    background-color: white;
    color: rgb(10, 10, 10);
}
.sec6-img2{
    font-size: 15px;
    color: rgb(94, 94, 94);
    word-spacing: 5px;
    line-height: 25px;
    text-align: center;
    position: absolute;
    top: 3980px;
    left: 45px;
}
.box16{
    height: 60px;
    width: 75px;
    font-size: large;
    padding-top: 7px;
    position: absolute;
    top: 4000px;
    left: 65px;
    background-color: white;
    color: rgb(10, 10, 10);
}
.content-31{
    font-size: 14px;
    position: absolute;
    top: 3480px;
    left: 910px;
}
.content-32{
    font-size: 16px;
    position: absolute;
    color: #3a3939c1;
    top: 3525px;
    left: 910px;
}
.content-33{
    font-size: 14px;
    color: rgb(234, 152, 38);
    word-spacing: 5px;
    position: absolute;
    top: 4225px;
    left: 610px;
    font-family: monospace;
}
.content-34{
    color: #0c0c0c;
    line-height: 25px;
    letter-spacing: 1px;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    position: absolute;
    /* text-decoration:underline ; */
    top: 4255px;
    left: 499px;
    word-spacing: 5px;
    cursor: pointer;
}
.content-35{
    font-size: 14px;
    color: rgb(94, 94, 94);
    word-spacing: 5px;
    position: absolute;
    top: 4335px;
    left: 555px;
}
.content-36{
    font-size: 15px;
    color: rgb(94, 94, 94);
    word-spacing: 5px;
    line-height: 25px;
    text-align: center;
    position: absolute;
    top: 4355px;
    left: 485px;
}
.content-37{
    font-size: 14px;
    color: rgb(234, 152, 38);
    word-spacing: 5px;
    position: absolute;
    top: 4375px;
    left: 190px;
    font-family: monospace;
}
.content-38{
    color: #0c0c0c;
    line-height: 25px;
    letter-spacing: 1px;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    position: absolute;
    /* text-decoration:underline ; */
    top: 4400px;
    left: 60px;
    word-spacing: 5px;
    cursor: pointer;
}
.content-39{
    font-size: 14px;
    color: rgb(94, 94, 94);
    word-spacing: 5px;
    position: absolute;
    top: 4480px;
    left: 100px;
}
.content-40{
    font-size: 15px;
    color: rgb(94, 94, 94);
    word-spacing: 5px;
    line-height: 25px;
    text-align: center;
    position: absolute;
    top: 4500px;
    left: 40px;
}
.load-btn{
    background-color: #dbd9d9;
    border: none;
    height: 40px;
    width: 340px;
    position: absolute;
    top: 4620px;
    left: 380px;
}
.footer{
    display: flex;
  gap: 16px;
  width: 100%;
}
.ft-img{
    position: relative;
    top: 3190px;
    width: 100%;
   flex: 1;             
  min-width: 0;
  padding: 13px;
}




