body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.nav-bar {
    padding: 3px;
    width: 100%;
    background-color: rgb(227, 228, 229);
    justify-content: space-around;
    align-items: center;
    display: flex;
    cursor: pointer;
}
ul li {
    list-style-type: none;
    display: inline;
}
.nav-heading {
    padding: 10px;
    font-size: smaller;
    font-weight: 700;
    font-family: "Unna", serif;
    cursor: pointer;
}
.nav-heading:hover {
    color: #ec7e09;
    text-decoration: underline;
    cursor: pointer;
}
.heading {
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
}
.sub-btn {
    height: 35px;
    width: 120px;
    border: 1px solid #f4952f;
    background-color: white;
    font-family: "Nunito Sans", sans-serif;
    cursor: pointer;
}
.media-icon {
    padding: 6px;
    cursor: pointer;
}
.imgsec-1 {
    margin-top: 3%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 10px;
}
.box img {
    width: 100%;
    height: 100%;
}
.img1 {
    grid-row: span 2;
}
.img3 {
    grid-row: span 2;
}
.date-box {
    background-color: rgba(54, 52, 52, 0.406);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.data-box1{
    position: relative;
}
.box1 {
    height: 80px;
    width: 100px;
    font-size: x-large;
    padding-top: 20px;
    position: absolute;
    top: 480px;
    left: 40px;
}
.box2 {
    height: 50px;
    width: 70px;
    font-size: large;
    padding-top: 7px;
    position: absolute;
    top: 300px;
    left: 650px;
}
.box3 {
    height: 50px;
    width: 70px;
    font-size: large;
    padding-top: 7px;
    position: absolute;
    top: 540px;
    left: 650px;
}
.box4 {
    height: 50px;
    width: 70px;
    font-size: large;
    padding-top: 7px;
    position: absolute;
    top: 530px;
    left: 970px;
}
.des-img{
    position: relative;
}
.img-des1 {
    color: #f4952f;
    font-size: small;
    padding-top: 20px;
    position: absolute;
    top: 465px;
    left: 160px;
}
.img-des2 {
    color: #f4952f;
    font-size: small;
    padding-top: 20px;
    position: absolute;
    top: 285px;
    left: 730px
}
.img-des3 {
    color: #f4952f;
    font-size: small;
    padding-top: 20px;
    position: absolute;
    top: 525px;
    left: 730px;
}
.img-des4 {
    color: #f4952f;
    font-size: small;
    padding-top: 20px;
    position: absolute;
    top: 515px;
    left: 1050px;
}
.img-des{
     color: #f4f4f3;
    font-size: 19px;
    font-family: "Unna", serif;
}
.img-des5 {
    position: absolute;
    top: 515px;
    left: 160px;
    width: 380px;
}
.img-des6 {
    position: absolute;
    top: 330px;
    left: 730px;
    width: 190px;
}
.img-des7 {
    position: absolute;
    top: 570px;
    left: 730px;
    width: 150px;
}
.img-des8 {
    position: absolute;
    top: 560px;
    left: 1050px;
}

.pop:hover .popover {
    /* visibility: visible; */
    /* opacity: 2; */
    display: block;
}
.pop {
    position: relative;
    
}
.img-sec2{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    gap: 30px;
}
.popover {
    /* visibility: hidden; */
    display: none;
    font-family: serif;
    background-color: rgb(254, 254, 254);
    color: black;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-sec3 {
    padding-top: 70px;
    padding-left: 50px;
    display: flex;
    position: relative;
}

.img6 {
    padding-left: 30px;
    padding-top: 50px;
}

.abt-des {
    position: absolute;
    left: 879px;
    top: 57px;
}
.box5 {
    height: 60px;
    width: 80px;
    font-size: large;
    padding-top: 7px;
    position: absolute;
    top: 90px;
    left: 70px;
    background-color: white;
    color: black;
}
.abt-des1 {
    font-size: 14;
    padding-top: 7px;
    position: absolute;
    top: 320px;
    left: 883px;
    line-height: 25px;
    width: 300px;
}
.rd-btn {
    height: 35px;
    width: 130px;
    border: 1px solid #f4952f;
    background-color: white;
    font-family: "Nunito Sans", sans-serif;
    position: absolute;
    top: 465px;
    left: 880px;
    cursor: pointer;
}
.follow-des {
    font-size: 14px;
    position: absolute;
    top: 590px;
    left: 875px;
}
.content-1 {
    font-size: 13px;
    color: #ec7e09;
    word-spacing: 5px;
    position: absolute;
    top: 635px;
    left: 400px;
}
.heading-1 {
    font-size: 22px;
    word-spacing: 7px;
    position: absolute;
    top: 647px;
    left: 120px;
}
.heading-2 {
    font-size: 22px;
    word-spacing: 7px;
    position: absolute;
    top: 680px;
    left: 380px;
}
.media-icon2 {
    position: absolute;
    top: 660px;
    left: 865px;
}
.media-btn:hover {
    background-color: #ed993f;
    color: #f4f4f3;
    display: inline-block;
    cursor: pointer;
}
.media-btn {
    height: 50px;
    width: 50px;
    border-radius: 750px;
    border: none;
    
}
.content-2 {
    font-size: 14px;
    color: rgb(94, 94, 94);
    word-spacing: 5px;
    position: absolute;
    top: 740px;
    left: 335px;
}
.content-3 {
    font-size: 16px;
    color: rgb(78, 77, 77);
    word-spacing: 5px;
    line-height: 25px;
    position: absolute;
    top: 760px;
    left: 55px;
    text-align: center;
}
.rd-btn2 {
    height: 35px;
    width: 140px;
    border: 1px solid #f4952f;
    background-color: white;
    font-family: "Nunito Sans", sans-serif;
    position: absolute;
    top: 890px;
    left: 385px;
    cursor: pointer;
}
.fea-des {
    font-size: 14px;
    position: absolute;
    top: 750px;
    left: 879px;
}
.img-cont1 {
    position: absolute;
    top: 806px;
    left: 879px;
}
.content-4 {
    color: #f4f4f3;
    line-height: 25px;
    font-size: 18px;
    font-weight: 280px;
    position: absolute;
    top: 880px;
    left: 900px;
}
.cont0 {
    color: #f0912c;
    font-size: 14px;
    font-family: monospace;
}
.content-6 {
    font-size: 15px;
    color: #323232;
    font-weight: 180px;
    position: absolute;
    top: 940px;
    left: 350px;
    word-spacing: 10px;
    cursor: pointer;
}
.imgsec-3{
    position: relative;
}
.sec3-img1 {
    position: absolute;
    top: 420px;
    left: 60px;
}
.sec3-img2 {
    position: absolute;
    top: 420px;
    left: 470px;
}
.date-box2{
    height: 60px;
    width: 70px;
    font-weight: 980;
    font-size: 18px;
    padding-top: 9px;
    color: black;
}
.aug{
    font-size: 12px;
    font-family: sans-serif;
    color: #676565;
    font-weight: 20;
}
.box6 {
    position: absolute;
    top: 440px;
    left: 80px;
    background-color:white;
}
.box7 {
   position: absolute;
   top: 440px;
   left: 490px;
   background-color:white;
}
.box8 {
    background-color: #dad9d99a;
    position: absolute;
    top: 430px;
    left: 880px;
}
.box9 {
    background-color: #dad9d99a;
    position: absolute;
    top: 530px;
    left: 880px;
}
.box10 {
    background-color: #dad9d99a;
    position: absolute;
    top: 630px;
    left: 880px;
}
.box11 {
    background-color: #dad9d99a;
    position: absolute;
    top: 730px;
    left: 880px;
}
.cont-sec3{
    color: #0c0c0c;
    line-height: 25px;
    font-weight: 880;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}
.content-7 {
    position: absolute;
    top: 410px;
    left: 970px;
}
.content-8 {
    position: absolute;
    top: 510px;
    left: 970px;
}
.content-9 {
    position: absolute;
    top: 610px;
    left: 970px;
}
.content-10 {
    position: absolute;
    top: 710px;
    left: 970px;
}
.content-11 {
    position: absolute;
    left: 135px;
}
.cont1{
    color: #0c0c0c;
    line-height: 25px;
    letter-spacing: 1px;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    cursor: pointer;
}
.content-12{
    position: absolute;
    top: 680px;
    left: 90px;
}
.cont2{
    font-size: 15px;
    color: rgb(94, 94, 94);
    word-spacing: 5px;
    line-height: 25px;
    text-align: center;
}
.content-13{
    position: absolute;
    top: 780px;
    left: 120px;
}
.content-14 {
    position: absolute;
    top: 805px;
    left: 65px;
}
.content-15 {
    position: absolute;
    left: 130px;
}
.content-16 {
    position: absolute;
    top: 810px;
    left: 500px;
}
.content-17 {
    position: absolute;
    top: 910px;
    left: 525px;
}
.content-18 {
    position: absolute;
    top: 940px;
    left: 475px;
}
.imgsec-4{
    position: relative;
}
.sec4-img1 {
    position: absolute;
    top: 940px;
    left: 55px;
}
.box12 {
    position: absolute;
    top: 960px;
    left: 75px; 
    background-color: #fefdfd;
}
.box-des {
    font-size: 16px;
    letter-spacing: 1px;
    background-color: #e1e1e0a0;
    line-height: 25px;
    padding: 50px;
    position: absolute;
    top: 1060px;
    left: 465px;
}
.box-icon {
    position: absolute;
    top: 25px;
    left: 45px;
}
.box-sign {
    position: absolute;
    top: 155px;
    left: 255px;
    color: #ed901e;
}
.sec4-img2 {
    position: absolute;
    top: 870px;
    left: 890px;
}
.sec4-img3 {
    position: absolute;
    top: 1340px;
    left: 465px;
}
.box13 {
    position: absolute;
    top: 1360px;
    left: 490px;
    background-color: white;
}
.content-22 {
    position: absolute;
    left: 70px;
}
.content-19 {
    position: absolute;
    top: 1455px;
    left: 93px;
    cursor: pointer;
}
.content-20 {
    position: absolute;
    top: 1560px;
    left: 95px;
}
.content-21 {
    position: absolute;
    top: 1585px;
    left: 45px;
}
.content-23 {
    font-size: 14px;
    position: absolute;
    top: 1380px;
    left: 875px;
}
.menu-items {
    border-bottom: 1px solid #a19d9d6d;
    padding-bottom: 8px;
    transition: color 0.3s ease;
}
.side-mnbar {
    position: absolute;
    line-height: 35px;
    word-spacing: 240px;
    top: 1420px;
    left: 840px;
    color: #1b1a1a;
    font-size: 15px;
    font-weight: 600;
}
.menu-items:hover {
    color: #ec7e09;
    cursor: pointer;
}
.imgsec-5{
    position: relative;
}
.sec5-img1 {
    position: absolute;
    top: 1710px;
    left: 42px;
}
.box14 {
    position: absolute;
    top: 1870px;
    left: 192px;
    color: white;
    background-color: #25242463;
}
.content-24 {
    position: absolute;
    bottom: 50px;
    left: 60px;
}
.content-25 {
    position: absolute;
    top: 1970px;
    left: 102px;
    color: white;
}
.content-26 {
    font-size: 15px;
    color: #cbcbcb;
    font-weight: 180px;
    position: absolute;
    top: 2050px;
    left: 112px;
    word-spacing: 14px;
    cursor: pointer;
}
.content-28 {
    position: absolute;
    top: 1740px;
    left: 640px;
}
.content-27 {
    position: absolute;
    top: 1762px;
    left: 506px;
}
.content-29 {
    position: absolute;
    top: 1835px;
    left: 516px;
}
.content-30 {
    position: absolute;
    top: 1865px;
    left: 470px;
}
.content31 {
    font-size: 14px;
    position: absolute;
    top: 1780px;
    left: 890px;
}
.content32 {
    font-size: 16px;
    position: absolute;
    color: #3a3939c1;
    top: 1830px;
    left: 890px;
}
.email-form {
    position: absolute;
    top: 1910px;
    left: 890px;
    width: 280px;
    height: 5px;
    font-size: 14px;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.check-box {
    position: absolute;
    top: 1980px;
    left: 890px;
    letter-spacing: 1px;
    font-family: serif;
    color: #3a3939c1;
}
input[type="checkbox"] {
    accent-color: orange;
}
.sub-btn2 {
    position: absolute;
    top: 2030px;
    left: 890px;
    height: 50px;
    width: 140px;
    border: none;
    color: white;
    background-color: #f7952b;
    font-family: "Nunito Sans", sans-serif;
    cursor: pointer;
}
.imgsec-6{
    position: relative;
}
.sec6-img1 {
    position: absolute;
    top: 2000px;
    left: 455px;
}
.box15 {
    position: absolute;
    top: 2020px;
    left: 475px;
    background-color: white;
}
.sec6-img2 {
    position: absolute;
    top: 2270px;
    left: 45px;
}
.box16 {
    position: absolute;
    top: 2290px;
    left: 65px;
    background-color: white;
}
.content-33 {
    position: absolute;
    left: 97px;
}
.content-34 {
    position: absolute;
    top: 2515px;
    left: 485px;
}
.content-35 {
    position: absolute;
    top: 2615px;
    left: 515px;
}
.content-36 {
    position: absolute;
    top: 2645px;
    left: 465px;
}
.content-37 {
    position: absolute;
    top: 2660px;
    left: 80px;
}
.content-38 {
    position: absolute;
    left: 120px;
}
.content-39 {
    position: absolute;
    top: 2760px;
    left: 105px;
}
.content-40 {
    position: absolute;
    top: 2790px;
    left: 50px;
}
.load-btn {
    background-color: #dbd9d9;
    border: none;
    height: 40px;
    width: 340px;
    position: absolute;
    top: 2960px;
    left: 320px;
    cursor: pointer;
}
.footer-cont{
    position: relative;
}
.footer-img {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 15px;
    padding: 18px;
    position: absolute;
    top: 3090px;
}
.ft-img {
    width: 100%;
    overflow: hidden;
    display: block;
   
}
.footer-insta{
    background-color: white;
    height: 90px;
    width: 250px;
    position: absolute;
    top: 3220px;
    left: 500px;
}
.ft-img2{
    border-radius: 100px;
    position: absolute;
    left: 28px;
    top: 15px;
}
.ft-idname{
    position: absolute;
    left: 95px;
    font-size: 20px;
    font-weight: 700;
}
.ft-followers{
    position: absolute;
    left: 100px;
    top: 40px;
    font-size: 14px;
    color: #676565;
}
.ft-des{
    position: relative;
    top: 3480px;
    text-align: center;
}
.ft-content{
   width: 650px; 
   position: absolute;
   left: 300px;
   line-height: 28px;
   color: #676565;
}
.media-icon3{
    position: absolute;
    top: 3675px;
    left: 495px;
}
.ft-line{
    width: 100px;
    position: absolute;
    top: 3775px;
    left: 495px;
}
.ft-copyright{
     position: absolute;
    top: 3795px;
    left: 495px;
}

@media(max-width:767px){
    .nav-heading{
        display: none;
    }
}
@media(max-width:1020px){
    .box1{
        position: absolute;
        left: 20px;
        top: 420px;
}
    .box2{
       position: absolute;
        left: 520px; 
        top: 280px;
    }
    .box3{
       position: absolute;
       left: 520px; 
       top: 460px;
    }
    .box4{
       position: absolute;
       left: 770px; 
       top: 440px;
    }
    .img-des1{
         position: absolute;
        left: 140px;
        top: 400px;
    }
    .img-des2{
         position: absolute;
        left: 600px;
        top: 260px;
        width: 100px;
    }
    .img-des3{
         position: absolute;
        left: 600px;
        top: 440px;
        width: 100px;
    }
    .img-des4{
        position: absolute;
        left: 860px;
        top: 420px;
        width: 100px;
    }
    .img-des5{
        position: absolute;
        left: 140px;
        top: 450px;
        width: 200px;
    }
    .img-des6{
        position: absolute;
        left: 600px;
        top: 315px;
        width: 100px;
        font-size: 16px;
    }
    .img-des7{
        position: absolute;
        left: 600px;
        top: 495px;
        width: 100px;
        font-size: 16px;
    }
    .img-des8{
        position: absolute;
        left: 860px;
        top: 475px;
        width: 100px;
    }
    .cat-1,
    .cat-2,
    .cat-3,
    .cat-4{
      width: 200px;
      height: 230px;
    }
    .pop1{
       position: absolute;
       left: 100px; 
    }
    .pop2{
       position: absolute;
       left: 330px; 
    }
    .pop3{
       position: absolute;
       left: 555px; 
    }
    .pop4{
       position: absolute;
       left: 790px;
    }
    .cp-1{
        width: 580px;
        height: 500px;
    }
    .abt-des,
    .abt-des1,
    .rd-btn{
        position: absolute;
        left: 660px;
    }

}




