.main-container{
    display: flex;
    gap: 25px;
    margin-top: 110px;
    margin-left: 250px;
}
body{
   background-color: black;
}
.media-container{
    height: 350px;
    width: 230px;
    border-radius: 20px;
    background-color: rgb(206, 250, 250);
}
.font-style{
    
    text-align: center;
    font-family: sans-serif;
    font-weight: 4000;
    font-size:bolder;
    
}
.img{
    text-align: center;
}
.description-style{
    text-align: center;
    font-weight: lighter;
    font-family:serif;
    color: rgb(71, 71, 71);

}
.button{
    border:2px solid black;
    height: 35px;
    width: 120px;
    text-align: center;
    margin-left: 55px;
    background-color: black;
    color: white;
    border-radius: 70px;
    font-size:70%;
}
.card2{
    background-color:white;
    border: none;
    height: 350px;
    width: 230px;
}

.card2-font{
    color: rgb(223, 38, 143);
}
.card2-des{
    color: rgb(9, 9, 9);
}
.card2-button{
    background-color: rgb(223, 38, 143);
    border: none;
    color: rgb(250, 248, 249);
    margin-left: 55px;
}
