$text:center;
$font:sans-serif;
$container: 2px solid black;

.main-container{
   display: flex;
   gap: 25px;
   justify-content: center;
   margin: 100px;
}
.media-container{
    padding: 20px;
    height: 290px;
    width: 210px;
    border: $container;
}
.font-style{
    font-weight: 4000;
    font-size:bolder;
    text-align: $text;
    font-family: $font;
}
.icon{
    text-align: $text;
}
.description-style{
    text-align: $text;
    font-family: $font;
    font-size: 14px;
    color: rgb(60, 61, 61);

}
.button{
    padding: 13px 69px;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-size:70%;
    border: none;

}
.insta{
    color: white;
    background-color: rgb(239, 57, 148);
    border: none;
}
.insta-button{
    @extend .button;
    background-color: white;
    color: rgb(237, 13, 155);
}