.main-container{
    display: flex;
    gap: 25px;
    margin-top: 110px;
    justify-content: center;
}
.img-container{
  border-bottom: 3px solid red;
}
.btn{
    width: 250px;
    height: 50px;
    background-color: rgb(248, 3, 3);
    color: white;
    border: none;
    margin-top: -100px;
}
.description{
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
.description-amt{
  font-family:monospace;
  font-weight: 100;
  font-size: medium;
  text-align: center;
}