section{
    /* height: 700px; */
    width: 350px;
    border: 2px solid rgb(1, 9, 16);
}
div{
    height: 200px;
    width: 200px;
}
.box1{
    background-color: rgb(94, 7, 66);
}
.box2{
    background-color: rgb(88, 62, 112);
}
.box3{
    background-color: rgb(196, 101, 142);
}