.box-cont{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    animation-name: box-animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out ;

}
@keyframes box-animation{
    0%{
        top: 0%;
        left: 0%;
    }
    75%{
        right: 300px;
        background-color: blueviolet;
    }
}