body {
    padding: 0;
    margin: 0;
}
.nav-bar {
    padding: 3px;
    width: 100%;
    background-color: rgb(227, 228, 229);
    justify-content: space-around;
    align-items: center;
    display: flex;
    cursor: pointer;
}
ul li {
    list-style-type: none;
    display: inline;
}