.box {
    height: 100px;
    width: 100px;
    border: 1px solid blue;
    background-color: azure;
}

.main-container {
    height: 400px;
    width: 800px;
    border: 1px solid red;

    display: flex;

    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */

    flex-direction: row; 
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */

    column-gap: 20px;
    /* row-gap: 20px; */


    justify-content: center; 
    /* justify-content: left; */
    /* justify-content: start; */
    /* justify-content: end; */
    /* justify-content: flex-end; */
    /* justify-content: right; */
}