.main-container{
    display: flex;
    gap: 25px;
    margin-top: 125px;
    margin-left: 250px;
}
.media-container{
    height: 290px;
    width: 210px;
    border: 2px solid black;
    
}
.font-style{
    
    text-align: center;
    font-family: sans-serif;
    font-weight: 4000;
    font-size:bolder;
    /* font-style:initial; */
    
}
.icon{
    text-align: center;
}
.description-style{
    text-align: center;
    font-weight: 2;
    font-weight: lighter;
    font-family:serif;
    color: rgb(60, 61, 61);

}
.button{
    border:2px solid black;
    height: 35px;
    width: 180px;
    /* text-align: center; */
    margin-left: 15px;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-size:70%;
}
.insta{
    background-color: rgb(239, 57, 148);
    border: none;
    height: 295px;
    width: 215px;
}
.insta-icon{
    color: white;
}
.insta-font{
    color: white;
}
.insta-des{
    color: rgb(230, 227, 227);
}
.insta-button{
    background-color: white;
    border: none;
    color: rgb(237, 13, 155);
}

