
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: sans-serif;
}
.nav-bar {
    padding: 3px;
    width: 100%;
    background-color: rgb(227, 228, 229);
    justify-content: space-around;
    align-items: center;
    display: flex;
    cursor: pointer;
}
ul li {
    list-style-type: none;
    display: inline;
}
.nav-heading {
    padding: 10px;
    font-size: smaller;
    font-weight: 700;
    font-family: "Unna", serif;
    cursor: pointer;
}
.nav-heading:hover {
    color: #ec7e09;
    text-decoration: underline solid 2px #ec7e09;
    cursor: pointer;
    text-underline-offset: 20px;
}
.heading {
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
}
.sub-btn {
    height: 35px;
    width: 120px;
    border: 1px solid #f4952f;
    background-color: white;
    font-family: "Nunito Sans", sans-serif;
    cursor: pointer;
}
.media-icon {
    padding: 6px;
    cursor: pointer;
}
.imgsec-1 {
    margin-top: 3%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 10px;
}
.box img {
    width: 100%;
    height: 100%;
}
.img1 {
    grid-row: span 2;
}
.img3 {
    grid-row: span 2;
}
.date-box {
    background-color: rgba(54, 52, 52, 0.406);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.data-box1{
    position: relative;
}
.box1 {
    height: 80px;
    width: 100px;
    font-size: x-large;
    padding-top: 20px;
    position: absolute;
    top: 480px;
    left: 40px;
}
.box2 {
    height: 50px;
    width: 70px;
    font-size: large;
    padding-top: 7px;
    position: absolute;
    top: 300px;
    left: 650px;
}
.box3 {
    height: 50px;
    width: 70px;
    font-size: large;
    padding-top: 7px;
    position: absolute;
    top: 540px;
    left: 650px;
}
.box4 {
    height: 50px;
    width: 70px;
    font-size: large;
    padding-top: 7px;
    position: absolute;
    top: 530px;
    left: 970px;
}
.des-img{
    position: relative;
}
.img-des1 {
    color: #f4952f;
    font-size: small;
    padding-top: 20px;
    position: absolute;
    top: 465px;
    left: 160px;
}
.img-des2 {
    color: #f4952f;
    font-size: small;
    padding-top: 20px;
    position: absolute;
    top: 285px;
    left: 730px
}
.img-des3 {
    color: #f4952f;
    font-size: small;
    padding-top: 20px;
    position: absolute;
    top: 525px;
    left: 730px;
}
.img-des4 {
    color: #f4952f;
    font-size: small;
    padding-top: 20px;
    position: absolute;
    top: 515px;
    left: 1050px;
}
.img-des{
     color: #f4f4f3;
    font-size: 19px;
    font-family: "Unna", serif;
}
.img-des5 {
    position: absolute;
    top: 515px;
    left: 160px;
    width: 380px;
}
.img-des6 {
    position: absolute;
    top: 330px;
    left: 730px;
    width: 190px;
}
.img-des7 {
    position: absolute;
    top: 570px;
    left: 730px;
    width: 150px;
}
.img-des8 {
    position: absolute;
    top: 560px;
    left: 1050px;
}

.pop:hover .popover {
    display: block;
}
.pop {
    position: relative; 
}
.img-sec2{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    gap: 30px;
}
.popover {
    display: none;
    font-family: serif;
    background-color: rgb(254, 254, 254);
    color: black;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cont-sec3{
    text-align: center;
}
.cont_1{
    color: rgb(241, 133, 9);
    font-size: 12px;
    word-spacing: 5px;
}
.cont_2{
    font-size: 22px;
    word-spacing: 3px;
    font-family: unna,serif;
}
.cont_3{
    color: rgb(84, 84, 84); 
    font-size: 12px;
    word-spacing: 5px;
}
.cont_4{
     color: rgb(84, 84, 84); 
    font-size: 14px;
    word-spacing: 5px;
    line-height: 20px;
}
.rd-btn{
    padding: 10px;
    width: 150px;
    border: 1px solid #e98821;
    background-color: white;
    font-family: "Nunito Sans", sans-serif;
}
.cont_5{
     font-size: 14px;
    color: #323232;
    font-weight: 180px;
    word-spacing: 10px;
    cursor: pointer;
}
.img-sec3{
    position: relative;
}
.media-btn:hover {
    background-color: #ed993f;
    color: #f4f4f3;
    display: inline-block;
    cursor: pointer;
}
.media-btn {
    height: 50px;
    width: 50px;
    border-radius: 750px;
    border: none; 
}
.sec3-img{
    display: flex;
    gap: 40px;
}
.img-4{
    background-image: url(https://preview.colorlib.com/theme/foodeiblog/img/categories/categories-post/cp-2.jpg);
    height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
.date-box {
    height: 50px;
    width: 70px;
    position: absolute;
    left: 20px;
    top: 20px;
    padding-top: 15px;
    background: rgb(255, 255, 255);
    color: rgb(11, 11, 11);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.img-5{
    background-image: url(https://preview.colorlib.com/theme/foodeiblog/img/categories/categories-post/cp-4.jpg);
    height: 420px;
}
.img-6{
    background-image: url(https://preview.colorlib.com/theme/foodeiblog/img/categories/categories-post/cp-6.jpg);
    height: 450px;
    color: #323232;
    
}
.box-img6{
    position: absolute;
    left: 130px;
    top: 143px;
    background: rgba(0, 0, 0, 0.3);
}
.img-sec6{
     position: relative;
}
.cont-img6{
    position: absolute;
    left: 37%;
    top: 66%;
    transform: translate(-50% ,-50%);
    width: 60%;
}
.cont-1{
     font-size: 12px;
}
.cont-5{
    font-size: 12px;
}
.cont-2{
    font-size: 18px;
}
.cont-3{
    font-size: 14px;
}
.img-7{
    background-image: url(https://preview.colorlib.com/theme/foodeiblog/img/categories/categories-post/cp-8.jpg);
    height: 340px;
}
.img-8{
    background-image: url(https://preview.colorlib.com/theme/foodeiblog/img/categories/categories-post/cp-3.jpg);
      height: 340px;
}
.img-box{
    background-color: #e1e1e0a0;
    line-height: 25px;
    height: 240px;
    width: 380px;
    position: relative;
}
.gr-box-cont{
    position: absolute;
    top: 60px;
    left: 50px;
    width: 80%;
    text-align: start;
    font-size: 14px;
    color: #000000;
    letter-spacing: 1px;
    font-family: "Nunito Sans", sans-serif ;
}
.sign{
    position: absolute;
    top: 170px;
    left: 65%;
    color: #f4952f;
}
.gr-quotes{
    position: absolute;
    top: 40px;
    left: 50px;
}
.img-10{
    background-image: url(https://preview.colorlib.com/theme/foodeiblog/img/categories/categories-post/cp-5.jpg);
    height: 380px;
}
.img-11{
    background-image: url(https://preview.colorlib.com/theme/foodeiblog/img/categories/categories-post/cp-7.jpg);
    height: 480px;
}
.left-img{
    gap: 20px;
}
.img-main-cont{
    margin: auto;
    width: 90%;
    gap: 30px;
    margin-top: 70px;
}


