.card{
    position:relative;
    width:260px;
    height:260px;
    overflow:hidden;
    cursor:pointer;
}

.card img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

/* white box */

.white-box{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%) scale(0);
    
    background:white;
    padding:15px 40px;
    font-weight:bold;
    letter-spacing:2px;

    transition:0.4s ease;
}

/* hover animation */

.card:hover .white-box{
    transform:translate(-50%, -50%) scale(1);
}